(
    schema_version: 1,
    seed: 42,
    ticks: 5859,
    commands: [
        (
            tick: 0,
            player: 0,
            sequence: 1,
            order: Gather(
                entity: 2,
                resource: 1,
            ),
        ),
        (
            tick: 612,
            player: 0,
            sequence: 2,
            order: Build(
                entity: 2,
                unit_type: 4,
                position: (
                    x: 352,
                    y: 416,
                ),
            ),
        ),
        (
            tick: 1245,
            player: 0,
            sequence: 3,
            order: Gather(
                entity: 2,
                resource: 1,
            ),
        ),
        (
            tick: 2852,
            player: 0,
            sequence: 4,
            order: Build(
                entity: 2,
                unit_type: 5,
                position: (
                    x: 576,
                    y: 416,
                ),
            ),
        ),
        (
            tick: 4108,
            player: 0,
            sequence: 5,
            order: Gather(
                entity: 2,
                resource: 1,
            ),
        ),
        (
            tick: 4763,
            player: 0,
            sequence: 6,
            order: Train(
                entity: 5,
                unit_type: 1,
            ),
        ),
        (
            tick: 5291,
            player: 0,
            sequence: 7,
            order: Train(
                entity: 5,
                unit_type: 1,
            ),
        ),
        (
            tick: 5651,
            player: 0,
            sequence: 8,
            order: Attack(
                entity: 6,
                target: 3,
            ),
        ),
        (
            tick: 5651,
            player: 0,
            sequence: 9,
            order: Attack(
                entity: 7,
                target: 3,
            ),
        ),
    ],
)
